# Core dependencies
python-dotenv
GitPython

# LangChain core
langchain
langchain-community
langchain-core
langchain-openai
langchain-chroma
langchain-cohere

# Retrievers and Search
tavily-python
rank-bm25

# Evaluation
ragas
nest-asyncio
rapidfuzz
